*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
}
#footer-1{
    background-color:#eff2f2 ;
}
#header{
    background-color: black;
}
body{
    background-color: red;
}