{% extends 'base.html'%}
{% block content%}
<div class="container mt-5">
    <h3 class=" text-center text-capitalize"> {{id}} </h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles %}
            <div class="col">
              <div class="card h-100">
                <img src="{{article.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Author:{{article.author}}</h5>
                  <p class="card-text">{{article.description}}</p>
                  <a href="{{article.url}}">
                    <button type="button" class="btn btn-info">Read More!!!</button>
                  </a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Date Posted: {{article.time}}</small>
                </div>
              </div>
            </div>
            {% endfor %}

</div>
</div>
{% endblock %}