<div class="container-fluid mt-5" id="footer-1">
    <div class="container">

    <div class="row">
        <div class="col-4">
            <h5>News-Bloom</h5>
            <a class="nav-link" href="/{{'topics/Business'}}"><button type="button" class="btn">Business</button></a>
            <a class="nav-link" href="/{{'topics/Technology'}}"><button type="button" class="btn">Technology</button></a>
            <a class="nav-link" href="/{{'topics/Entertainment'}}"><button type="button" class="btn">Entertainment</button></a>
            <a class="nav-link" href="/{{'topics/Science'}}"><button type="button" class="btn ">Science</button></a>
            <a class="nav-link" href="/{{'topics/Sports'}}"><button type="button" class="btn ">Sports</button></a>
        </div>
        <div class="col-4">
            <h5>Subscribe to Our Newsletter</h5>
            <p>Subscribe to our newsletter to get all the letest News instantly!</p>
            <form>
                <input type="text" id="username" name="username"> <label for="username"> Sign Up Now:</label>
                <br>
                <br>
                <input type="checkbox" id="check" name="check" value="check">
                <label for="check"> I have read and agree to the terms & conditions</label><br>
            </form>
        </div>
        <div class="col-4">
            <h5>Find US on Socials</h5>
            <i class="fa fa-facebook" aria-hidden="true"&nbsp &nbsp></i>
            <i class="fa fa-instagram" aria-hidden="true"&nbsp &nbsp></i>
            <i class="fa fa-twitter" aria-hidden="true"&nbsp &nbsp &nbsp></i>
            <i class="fa fa-youtube-play" aria-hidden="true"&nbsp &nbsp></i>
            <p>Privacy policy</p>
            <p>Contact Us</p>
            <p>Advertice With Us</p>
        </div>
    </div>
</div>


    <!-- Footer -->
    <footer class="page-footer bg-dark text-white font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2022 Copyright: News-Bloom
        </div>

    </footer>
</div>