<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">News-Bloom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="/"><button type="button" class="btn btn-outline-secondary text-white">Home </button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'topics/Business'}}"><button type="button" class="btn btn-outline-secondary text-white">Business</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'topics/Technology'}}"><button type="button" class="btn btn-outline-secondary text-white">Technology</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'topics/Entertainment'}}"><button type="button" class="btn btn-outline-secondary text-white">Entertainment</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'topics/Science'}}"><button type="button" class="btn btn-outline-secondary text-white">Science</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/{{'topics/Sports'}}"><button type="button" class="btn btn-outline-secondary text-white">Sports</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>